run = "export PATH=/nix/store/9g2w08zkmj60d97bc0ci62w6msfdi9av-nodejs-14.18.3/bin:$PATH && cd /home/runner/workspace/frontend && npm run dev"
modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[agent]
expertMode = true
